<!DOCTYPE html>
<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Bilbo+Swash+Caps' rel='stylesheet' type='text/css'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/bootstrap-select.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/flyer.css">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/bootstrap-select.js"></script>
	<script type="text/javascript" src="myEvents.json"></script>
	<script src="js/flyer.js" type="text/javascript"></script>
	<title>Flyer</title>

</head>
<body>
	<div id="contentArea" class="container">
		
		<nav class="navbar navbar-fixed-top">
		    <div class="navigation">
		      <center><h1>Flyer</h1>
		     <!-- <img style="width:40px; height:60px"class="mainImage" src="images/flyerlogo3.png"></center>-->


		        <table style="width:99%">
		        <tr>
		          <td align="center"><a class="navLink" href="/myLife">My Life</a></td>
		          <td align="center"><a class="navLink clickedTake" href="/takeAwalk">Take A Walk</a></td>    
		          <td class="on" align="center"><a class="on navLink" href="/myPosts">Post</a></td>
		        </tr>
		      </table>
		    </div>
		</nav>

		{{#each events}}	
		<div class ="event" id="event{{id}}">
		  <div class="col-sm-6 col-md-4">
		    <div class="thumbnail">
		      <h3>{{org}}</h3>		
		      <img class="imageEvent" src="{{imageURL}}">
		      <div class="caption">
		        <h4>{{title}}</h4>
		        <p>Date: {{date}}</p>
		        <p>Time: {{time}}</p>
		        <p>Description: {{description}}</p>
		        <input type="submit" class="delete delete-submit" id="cancelEvent" role="button" value="Cancel Event">
		        <!--<form action="/myPosts/delete" method="get" role="form" id="event{{id}}">
		        	<input type="submit" id="eventID" class="delete delete-submit" value="Cancel Event">
		        </form>-->
		      </div>
		    </div>
		  </div>
		</div>
		{{/each}}
	</div>
	<center><a href="/post"><font color="FFFFF">Create an Event!</font></a><center>
	<center><a href="/logout"><font color="FFFFF">Log Out</font></a><center>
</body>
</html>